---
import Header from "../components/Header";
import Product from "../components/Product.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="E-commerce Product Page">
  <Header client:load />
  <main>
    <h1 class="sr-only">E-commerce Product Page</h1>
    <Product />
  </main>
</Layout>
